.App {
  text-align: justify;
  margin: 0 auto;
  padding: 25px;
}

.Results {
  padding-left: 25px;
  padding-top: 10px;
}

.App-logo {
  max-width: 425px;
}

.footer {
  margin: 0 auto;
  padding-top: 15px;
  font-size: smaller;
}
