.Dictionary section {
  background: rgba(242, 228, 203, 0.844);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
  margin: 20px 0;
}

.Dictionary h1 {
    padding-left: 3px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.Dictionary input {
    width: 100%;
  padding: 6px 3px;
  font-weight: 400;
  color: rgb(66, 105, 107);
  border: 1px solid #ddd;
  border-radius: 7px;
}

.Dictionary .hint {
    margin: 7px 15px;
    color: rgb(87, 105, 105);
}


